<div class="boxes">

	<%@players.each_with_index do |p, i|%>
	<div class="rank-<%=i%>">Rank <%=i+1%></div>
	<div class="box box-<%=i%>">
		<div class="name">
			<%=p.name%>
		</div>
		<div class="sovled">
			Solved
			<%=p.solved%>
		</div>
		<div class="tried">
			Tried
			<%=p.tried%>
		</div>
		<div class="submissions">
			Submissions
			<%=p.submissions%>
		</div>
		<div class="first-submission">
			First Submission
			<%=p.first_sub%>
		</div>
		<div class="last-submission">
			Last Submission
			<%=p.last_sub%>
		</div>
	</div>
	<div class="see-questions see-questions-<%=i%>">
		<a href="">Ver questões</a>
	</div>
	<%end%>
	<div class="song">
		<audio class="audio_player" controls="false" preload="true" autoplay loop>
			<source src="/audios/ayrton.mp3" type="audio/mpeg">
		</audio>
	</div>
</div>